body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/img/fondo1.jpg");
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
}

nav {
  background-color: transparent;
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  color: white;
  transform: scale(1.3);
}

.navbar-brand {
  color: white;
  float: left;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 20px;
  line-height: 45px;
}

.navbar-brand i {
  margin-right: 7px;
}

.navbar-right {
  float: right;
  margin-right: 50px;
}

.navbar-right i {
  margin-right: 5px;
}

.container {
  position: relative;
}

.fondo {
  width: 100%;
  height: 685px;
  display: block;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.tittle {
  font-size: 60px;
  margin-top: 800px;
}

.separador {
  width: 800px; /* Ancho de la línea, ajusta según sea necesario */
  margin: 10px auto; /* Espaciado superior e inferior, ajusta según sea necesario */
  border: 1px solid white; /* Estilo y color de la línea */
}

.info {
  font-size: 20px;
}
